storecube-ios.xcworkspace/xcuserdata/radmirtelman.xcuserdatad/UserInterfaceState.xcuserstate
storecube-ios.xcworkspace/xcuserdata/ravil.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
CubeStore.xcworkspace/xcuserdata/radmirtelman.xcuserdatad/UserInterfaceState.xcuserstate
CubeStore.xcworkspace/xcuserdata/ravil.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
CubeStore.xcworkspace/xcuserdata/ravil.xcuserdatad/xcschemes/xcschememanagement.plist
CubeStore.xcodeproj/xcuserdata/ravil.xcuserdatad/xcschemes/xcschememanagement.plist
*.plist
*.xcuserstate
